{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="CenterLayout padding-10">
    <div id="imagesLoad">
        {% for miracle in miracles %}
            <div class="box-2 float-left">
                <div class="imagesPanel black-50 radius-top" style="text-align:center;">
                    <div class="padding-10">
                        <a href="{{ miracle.get_absolute_url }}" class="caption">{{ miracle.name }}</a>
                    </div>
                </div>
                <div url="{{ miracle.get_absolute_url }}" class="img" style="background-image:url('{% static 'images/attractions/'%}{{ miracle.slug }}.jpg')"></div>
                <div class="imagesPanel black-50" style="text-align:center;">
                    <div class="padding-10">
                        <span class="photo">{{miracle.image_set.count}}</span>
                        <span class="view">{{ miracle.views_count }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}