{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="CenterLayout padding-10">
    <ul class="blocks">
        {% for image in images %}
        <li><div class="padding-10 margin-10 black-50">
            <img src="{{ image }}" /><a href="">Statue of Liberty</a>
            <p>The Statue of Liberty (Liberty Enlightening the World; French: La Liberté éclairant le monde) is a colossal neoclassical sculpture on Libe</p>
        </div></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}