{% extends 'base.html' %}
{% load static %}
{% block title %}{{ miracle.name }} on Miracles Live{% endblock %}
{% block description %}{{ miracle.description }}{% endblock %}
{% block content %}
    <div class="images" style="background-image: url('{% static 'images/attractions/'%}{{ miracle.slug }}.jpg')">
        <div class="under">
            <div class="CenterLayout">
                <h1>{{ miracle.name }}</h1>
            </div>
        </div>
    </div>

    <div class="panel padding-10">
        <div class="CenterLayout padding-10 black-80 radius">

            <div id="container">
                <div class="slider"></div>
                <ul>
                    <li>Today</li>
                    {% for year in years %}
                        <li>{{ year.value }}</li>
                    {% endfor %}
                </ul>
                <div id="slider-result" class="radius"><img src="{% static 'images/loading.gif' %}"> </div>
                <input type="hidden" id="hidden"/>
            </div>
        </div>
    </div>
    <div class='description'>
        <p>{{miracle.description}}</p>
    </div>
    <div class="CenterLayout">
        <div class="imagesBody" id="imagesLoad" slug="{{ miracle.slug }}" class="masonry"></div>
    </div>


{% endblock %}